HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
er-diagram/

### Frontend / Angular ###
frontend/dist/
frontend/tmp/
frontend/out-tsc/
frontend/bazel-out/
frontend/node_modules/
frontend/.angular/cache/
frontend/.sass-cache/
frontend/connect.lock
frontend/coverage/
frontend/libpeerconnection.log
frontend/testem.log
frontend/typings/
frontend/.c9/
frontend/*.launch
frontend/*.sublime-workspace
frontend/.history/
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
